div.gameplay {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContainer > .row {
    display: flex;
    gap: 3px;
    width: 100%;
    justify-content: center;
    position: relative;
}

.gameContainer > .offset {
    position: relative;
    left: calc(100% / 10);
    top: -35px;
}